html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(#D1545B 0, #D1545B 47.5%, #000000 47.5%, #000000 52.5%, #DFE0ED 52.5%, #DFE0ED 100%);
}

#top {
    text-align: center;
    margin: 0 auto;
}

#content {
    opacity: 0;
    width: 75%;
    height: 75%;
    margin: auto;
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    border: 3px solid black;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

#content span { font-size: 14px; }
#stats { text-align: left; padding-left: 25px; padding-right: 25px;}

#ballButton {
    border-radius: 100%;
    border: 20px solid black;
    background-color: #DFE0ED;
    cursor: pointer;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -70px;
    z-index: 0;
}

#close {
    float: right;
    position: relative;
    right: 20px;
    top: 10px;
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;
}

.stat {
    height: 10px;
    width: 5px;
    background-color: green;
    border-radius: 4px;
}